<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>This is about page of app</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor dolore
      distinctio alias, repellendus neque incidunt, nam nemo illum minus
      temporibus iure numquam quod, dolores maxime repellat vero? Sit eos non
      facilis? Accusantium repellendus deserunt itaque aut nulla cumque. Quidem
      reprehenderit, aliquam, eius eaque nihil sint reiciendis impedit ipsum
      itaque fuga culpa unde odit excepturi ad beatae expedita quas? Id cumque
      suscipit voluptates voluptatem eum quisquam, quae voluptate possimus
      aperiam rerum repudiandae aliquid blanditiis ipsum obcaecati. Neque
      aperiam esse error nesciunt doloribus magnam nisi aliquid, quia iure,
      maiores mollitia aut, voluptatibus sit voluptatem hic impedit libero iste!
      Minus doloribus quasi eaque tempora maxime quia repellat deserunt, et
      excepturi aliquid suscipit cupiditate optio dolorum error a itaque nisi
      quas modi ab tempore aperiam necessitatibus? Necessitatibus sed vero
      quidem labore commodi hic minima optio libero suscipit. Maxime quaerat rem
      ab deleniti. Consequuntur at quia molestias, corporis tempore nam ipsa
      dolorem quibusdam totam nostrum provident! Quod debitis dicta beatae
      magnam quaerat suscipit, aspernatur dolorum perspiciatis praesentium
      repellat esse atque ipsa corporis asperiores hic ipsam veritatis vero ad
      distinctio porro officiis? Totam aut nesciunt aliquid modi dolor,
      voluptatum cumque laudantium perferendis fugit quaerat minus officiis
      excepturi accusantium assumenda inventore perspiciatis sit voluptatibus
      labore vitae facere.
    </p>
  </body>
</html>
