<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <h1>Welcom Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit harum
      ratione culpa eveniet soluta iure, amet assumenda asperiores quia ipsum
      neque animi corporis explicabo, voluptates quam veniam repellat
      consequatur fuga nisi voluptas! Soluta fugit quas, repellat ea dolores
      nisi. Velit corrupti voluptates consequuntur perferendis sint. Sapiente
      vero aperiam dolore id sequi aspernatur odit nulla. Inventore dignissimos
      debitis aliquid dolor, earum unde iste magnam placeat, esse provident
      officia quod! Quisquam, sunt! Architecto rem repellendus iure
      necessitatibus assumenda nobis aspernatur recusandae, exercitationem sunt
      rerum beatae labore dolor. Odio adipisci quae perferendis officiis dicta
      deleniti natus quidem minus voluptate laboriosam perspiciatis, magni
      fugiat dolores delectus consequatur rerum eaque architecto temporibus
      dignissimos! Eum accusantium aliquam expedita, quod voluptate qui. Unde
      saepe dolorum deleniti delectus voluptatem minima, error earum a explicabo
      adipisci odio dignissimos, natus quos ducimus repellat blanditiis tempora
      fugiat facilis vero, eius velit maxime. Aliquid, quod nam odit vero,
      provident dolor atque, voluptatem quam itaque cupiditate laudantium nemo
      quidem culpa libero officia voluptate fugiat placeat in odio sed qui
      officiis vitae nihil. Molestias maiores, omnis quae, nemo atque
      repudiandae minima sapiente ea dolore perspiciatis veniam a blanditiis
      nobis sit explicabo eos beatae. Odio deleniti neque vero impedit natus
      nostrum minima pariatur voluptatum nam!
    </p>
  </body>
</html>
